<h1>My Idea Box</h1>

<div id="idea-add">
  <div class="idea-form">
    <h3>Title</h3>
    <textarea class="add-title">
    </textarea>

    <h3>Body</h3>
    <textarea class="add-body">
    </textarea>
    <br>
    <button class="btn btn-success" type="button" id="create-idea">
      Save
    </button>

  </div>
</div>

<div id="idea-list">
  <div class="idea-whole">
  </div>

</div>
