<div class="jumbotron text-center" style="background-color: #E0F8E6; border-color: #333;">
  <h1>My Idea Box</h1>
  <%= render partial: "add_idea_form" %>
</div>

<div id="idea-list" class="container transparent">
  <div class="idea-whole">

  </div>
</div>
